.profile {
  max-width: 880px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 51px;
  /*border: 1px solid green;*/
}

@media screen and (max-width: 768px) {
  .profile {
    width: calc(100vw - 38px);
    min-width: 282px;
    flex-direction: column;
    margin: 0 auto 36px;
  }
}

@media screen and (max-width: 320px){
  .profile {
    min-width: 282px;
  }
} 