.popup__container-avatar {
    position: relative;
    border-radius: 10px;
    background-color: #FFFFFF;
    min-height: 272px;
    max-width: 430px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    /*border: 1px solid pink;*/
  }